<ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-positive">
        <ion-nav-title>
            le garde manger
        </ion-nav-title>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div menu-close ui-sref="protected.tabs.a" class="item item-icon-left">
                    <i class="icon ion-home"></i>A
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
