<ion-tabs>
    <ion-tab icon-on="ion-ios-nutrition" icon-off="ion-ios-nutrition-outline" href="#/protected/tabs/stash">
        <ion-nav-view name="protected-tabs-stash"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline" href="#/protected/tabs/recipes/tags">
        <ion-nav-view name="protected-tabs-recipes-tags"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/protected/tabs/shopping/list">
        <ion-nav-view name="protected-tabs-shopping-list"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/protected/tabs/profile">
        <ion-nav-view name="protected-tabs-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>
