<ion-view view-title="Stash">
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-plus-outline"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="list-inset" ng-repeat="category in categories" style="background-color: {{category.color}}">
                <dt>{{category.name}}</dt>
                <dd>Qté: {{ (items | filter:{ category: { id: category.id } }).length }} <span ng-if="item.quantityUnity">{{item.quantityUnity}}</span></dd>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="buttons item-button-left">
            <button class="button button-icon icon ion-ios-trash-outline" style="font-size: 90px;"></button>
        </div>
        <div class="buttons item-button-right">
            <button class="button button-icon icon ion-ios-search-strong" style="font-size: 90px;" ui-sref="protected.tabs.recipes-search">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
