<ion-view view-title="Recette(s)">
    <ion-content>
        <div class="list">
            <!-- | orderBy:recipe.needs.length -->
            <div class="card" ng-repeat="recipe in recipes">
                <div class="item item-divider">
                    {{$index + 1}}. {{recipe.name}}
                </div>
                <div class="item item-text-wrap">
                    <dd>temps de preparation: {{recipe.preparationTime}}</dd>
                    <dd>difficulte:</dd>
                        <!-- <button class="button button-small button-energized button-clear button-icon icon ion-ios-star" ng-repeat="n in [] | range:recipe.difficulty"></button> -->
                        <i class="icon icon-energized icon-clear ion-ios-star" ng-repeat="n in [] | range:recipe.difficulty"></i>
                    </dd>
                    <dd>nombre de personne(s): {{recipe.peopleNumber}}</dd>
                </div>
                <div class="item item-divider item-balanced item-button-right" ng-show="recipe.needs.length == 0">
                    <dt>complet</dt>
                    <div class="buttons">
                        <button class="button button-icon icon ion-ios-close-empty" ng-click="removeRecipe(recipe)"></button>
                        <button class="button button-icon icon ion-ios-eye-outline"></button>
                        <button class="button button-icon icon ion-ios-redo-outline" ng-click="share(recipe)"></button>
                    </div>
                </div>
                <div class="item item-divider item-assertive item-button-right" ng-show="recipe.needs.length > 0">
                    <dt>non complet</dt>
                    <dd class="buttons">
                        <button class="button button-icon icon ion-ios-eye-outline"></button>
                        <button class="button button-icon icon ion-ios-list-outline" ng-click="addShoppingList(recipe)"></button>
                    </dd>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
